* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #E14647;
}

h2 {
  color: #fff;
  background: #E14647;
  padding: 13px;
}

.app {
  width: 80%;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  box-shadow: 1px 2px 5px #eee;
}

input {
  width: 80%;
  padding: 6px 10px;
  border: 0;
  background: #e8e8e8;
}

button {
  width: 20%;
  margin: 0;
  padding: 6px 0;
  font-weight: bold;
  background: #adc55b;
  cursor: pointer;
  color: #fff;
  outline: 0;
  border: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 2px;
}


li span {
  display: inline-block;
  color: #6a6a6a;
  width: 60%;
}

li > button:first-of-type {
  width: 19%;
  margin-right: 1%;
  background: #6a6a6a;
  color: #fff;
}

li > button:last-of-type {
  background: #d95349;
  color: #fff;
}

ul > form {
  margin: 15px 0;
}

p {
  background: #e8e8e8;
  color: #6a6a6a;
  width: 100%;
  text-align: center;
  padding: 5px;
}